

*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}





body,nav,li{
	background-color: #7B1FA2;
	font-size: 1.7rem;
	text-align: center;
}



body h1{
	

	background-color: #64B5F6;
	color: #7B1FA2;
	text-align: center;
}


	
